/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
.deps/
*.l[ao]
*.o
*.trs
*.gcov
*.gcno
*.gcda
*~

# in lib src tests, remove anything ...
lib/*
src/*
tests/*

# ... but the following:
!*.am
!src/*.cpp
!lib/*.cpp
!tests/*.at
!tests/*.in

# ... but anyway remove this:
Makefile
Makefile.in


